 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 35px 0 0 0; position: relative; }
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.themes_view_box .flex-direction-nav a, .freebies_view_box .flex-direction-nav a {width: 28px; height: 43px; margin: 0px 0 0; display: block;  position: absolute; top: 45%; cursor: pointer; text-indent: -9999px;}
.themes_view_box .flex-direction-nav .flex-next {background:url(../images/themes_next.png) no-repeat 100%; right: 15px;}
.freebies_view_box .flex-direction-nav .flex-next {background:url(../images/themes_next.png) no-repeat 100%; right: 15px;}
.themes_view_box .flex-direction-nav .flex-prev {background:url(../images/themes_prev.png) no-repeat 100% 0; left: 15px;}
.freebies_view_box .flex-direction-nav .flex-prev {background:url(../images/themes_prev.png) no-repeat 100% 0; left: 15px;}
.flexslider:hover .flex-next {}
.flexslider:hover .flex-prev {}
.flexslider:hover .flex-next:hover{
	background:url(../images/themes_next_hover.png) no-repeat 100% 0;
}
 .flexslider:hover .flex-prev:hover {
 	background:url(../images/themes_prev_hover.png) no-repeat 100% 0;
}
.flex-direction-nav .disabled {cursor: default;}


/* Control Nav */
.flex-control-nav, .freebies_view_box .flex-control-nav{width: 100%; position: absolute; text-align: center;}
.flex-control-nav{bottom: -20px;}
.freebies_view_box .flex-control-nav{bottom:20px;}
.flex-control-nav li, .freebies_view_box .flex-control-nav li{margin: 0 4px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a, .freebies_view_box .flex-control-paging li a{width: 16px; height: 16px; display: block; background: url('../images/themes_slider_nav.png') repeat;cursor: pointer; text-indent: -9999px;}

.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background:url(../images/themes_slider_hover.png)0 0 no-repeat;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}
}